<ion-view>

    <ion-tabs class="tabs-balanced tabs-icon-top">

        <ion-tab title="Usuários" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tabs.usuarios">
            <ion-nav-view name="tab-usuarios"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mensagens" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" ui-sref="tabs.mensagens">
            <ion-nav-view name="tab-mensagens"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Profile" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tabs.profile">
            <ion-nav-view name="tab-profile"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>